/* Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Global Style  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f5f6f9;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

:root {
  --main-color: #fcb700;
  --dark-color: #222222;
  --paragraph-color: #666666;
  --dark-red: #d01418;
  --border-color: #6666662a;
  --name-item: #0066c0;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f6f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--border-color);
}
